<div class="container">
  <div class="timeline">
    <div class="timeline-row" *ngFor="let memory of memories">
      <div class="timeline-time">
        {{memory.DateTime | date:'short':'UTC'}}
      </div>
      <div class="timeline-content">
        <h4>{{memory.Message}}</h4>
        <div class="thumbs">
          <img class="img-fluid rounded" src="{{memory.ImageUrl}}"
            alt="{{memory.Message}}">
        </div>
      </div>
    </div>

    <div class="timeline-row">
      <div class="timeline-content">
        <p class="m-0">Coming Soon...</p>
      </div>
    </div>

  </div>
</div>