<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">{{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Dashboard <span class="sr-only">({{userName}})</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="friends" >Fr</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="memories" >Me</a>          
        </li>       
      </ul>
      <div class="float-end nav-link" >
        <button class="btn btn-outline-success" (click)="logout()">Logout</button>
      </div>              
    </div>
  </div>
</nav>